.breadcrumb
{
    font-size:0;
    background-color:#AAA;
    min-height:25px;
    list-style-type: none;
    padding:0px;
    a
    {
        font-size:1rem;
        padding-left:15px;
        padding-right:15px;
        display: inline-block;
        height:25px;
        line-height:25px;
        text-align: center;
        text-decoration: none;

        li
        {
            color:#222;
            list-style-type: none;
            display: inline-block;
        }
    }
    a:not(:last-child)::after
    {
        content:" > ";
        color:red;
    }
    a:not(:last-child):hover
    {
        li
        {
            color:black;
            text-decoration:underline;
            cursor:pointer;
        }
    }
    a:last-child
    {
        li
        {
            color:red;
            font-weight: bold;
        }
    }
}