// Variables
$width: 100%;	// Taille de la grille
$gutter: 1%;	// Taille de la gouttière
$nbColumns: 12;	// Nombre de colonnes

$column: ($width - $nbColumns * $gutter) / $nbColumns; // Largeur d'une colonne

// Conteneur de la grille
.grid { width: $width; }

// Ligne
.line {
	padding: 0;
	max-width: $width;
	display: flex;
	flex-wrap: wrap;

	// Mobile
	flex-direction: column;
}

.line > div { display: flex; flex-direction: column; }

// Ajouter une marge entre les lignes

@mixin margin($nb: 1) {
	margin-top: .5rem;
	margin-bottom: .5rem * $nb;
}

.line-margin {
	@extend .line;
	@include margin(1);
}

@for $i from 1 through 4 {
	.line-margin-#{$i} {
		@extend .line;
		@include margin($i);
	}
}

// Décalages de la grille
@mixin offset($nb: 0) {
	margin-left: $gutter*$nb + $column*$nb + $gutter/2;
	margin-right: $gutter/2;
}

@for $i from 0 through $nbColumns {
	.offset-#{$i} {
		@include offset($i);
	}
}

// Largeur colonnes
@mixin span($nb: 1) {
	width: $nb*$column + ($nb - 1)*$gutter;
}

@for $i from 1 through $nbColumns {
	.span-#{$i} {
		@include span($i);
	}
}

[class*="span-"] {
	text-align: center;
	img {
		max-width: 100%;
		max-height: 100%;
	}
}

// Element avec offset = 0 et span = $nbColumns (raccourci)
.large {
	@include offset(0);
	@include span($nbColumns);
}

// Mobile
@media screen and (max-width: 800px) {
	[class*="span-"] { width: 100%; }
	[class*="offset-"] { margin-left: $gutter/2; margin-right: $gutter/2; }
	.content { order: -1; }
}

// Desktop
@media screen and (min-width: 800px) {
	.line { flex-direction: row; }
}
