.navbar
{
    font-size:0;
    background-color:#333;
    min-height:50px;
    list-style-type: none;
    padding:0px;

    a
    {
        background-color:#666;
        font-size:1rem;
        padding-left:15px;
        padding-right:15px;
        display: inline-block;
        height:50px;
        line-height:50px;
        text-align: center;
        text-decoration: none;

        li
        {
            color:white;
            list-style-type: none;
        }
    }

    a:hover:not(.active):not(.disabled)
    {
        background-color:#BBB;
        li
        {
            color:black;
            cursor:pointer;
        }
    }

    .active
    {
        color:red;
    }
    
    .disabled
    {
        color:#BBB;
        cursor:not-allowed;
    }
}